@import "fonts.less";
@import "variables.less";
@import "navigation.less";
@import "home.less";
@import "contact.less";
@import "project.less";
@import "office.less";
@import "footer.less";

body {
    font-family: @merriweather;
    color: @black;
    background-color: white;
}

a {
    color: @blue;
    text-decoration: none !important;

    &:hover, &:active {
        color: @blue;
    }
}
