@import "fonts.less";
@import "navigation.less";
@import "office.less";
@import "footer.less";
.home {
  padding: 24px;
}
.home .title {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 24px;
}
.home .navigation {
  list-style-type: none;
  padding: 0;
}
.home .navigation .navItem {
  font-size: 20px;
  margin: 6px 0;
}
#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#contact ul li {
  margin: 8px 0;
}
#contact ul li.last {
  margin-bottom: 20px;
}
#contact ul .option {
  display: inline-block;
  width: 40px;
}
.project {
  padding: 24px;
}
.project .title {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.project .description {
  font-style: italic;
  color: #858585;
}
.project .image {
  margin-bottom: 24px;
}
.project .image img {
  width: 100%;
}
.project .caption {
  font-style: italic;
  color: #858585;
  margin: 8px 0 0;
  font-size: 12px;
}
body {
  font-family: 'Merriweather', serif;
  color: #111111;
  background-color: white;
}
a {
  color: #80b7db;
  text-decoration: none !important;
}
a:hover,
a:active {
  color: #80b7db;
}
